/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.out
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-184602c0b986888e2210.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-1d0aadeebbcb53557bf7.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-be577c4a13bb0b40c7b3.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-01-25T04-44-15-0038.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/VoxelProject.dir/src/main.cpp.o
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-VoxelProject-Debug-c836215e383a74098a17.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-6034fbbbb805424816f5.json
/cmake-build-debug/VoxelProject
*.o
%.a
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-fc8f75e1df5e704a4635.json
/cmake-build-debug/include/glfw/src/cmake_install.cmake
/cmake-build-debug/include/glfw/cmake_install.cmake
/cmake-build-debug/include/glfw/cmake_uninstall.cmake
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-920b05628376df00edc0.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-4067315bd0860055432e.json
/cmake-build-debug/.cmake/api/v1/reply/directory-include.glfw.src-Debug-e033297b9b74f0d7c9f6.json
/cmake-build-debug/.cmake/api/v1/reply/directory-include.glfw-Debug-7c70cc76fa2985fdc1d9.json
/cmake-build-debug/include/glfw/src/glfw3.pc
/cmake-build-debug/include/glfw/src/glfw3Config.cmake
/cmake-build-debug/include/glfw/src/glfw3ConfigVersion.cmake
/cmake-build-debug/include/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets.cmake
/cmake-build-debug/include/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-debug.cmake
/cmake-build-debug/.cmake/api/v1/reply/index-2022-01-25T05-42-21-0399.json
/cmake-build-debug/include/glfw/src/libglfw3.a
/cmake-build-debug/.cmake/api/v1/reply/target-glfw-Debug-7d82f6916fe9ae3cece3.json
/cmake-build-debug/.cmake/api/v1/reply/target-uninstall-Debug-afa553b9f8ad56da6bc1.json
/cmake-build-debug/.cmake/api/v1/reply/target-update_mappings-Debug-1a3efb9f27b4dfc734e6.json
/cmake-build-debug/.cmake/api/v1/reply/target-VoxelProject-Debug-39eb79c6d4dcf4085d4a.json
